<p id="notice"><%= notice %></p>

<h1><a href="/recipes/<%= @recipe.id %>"><%= @recipe.title %></h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Measurement</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.measurement %></td>
        <td><%= ingredient.ingredient %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', "/recipes/#{@recipe.id}/ingredients/new" %>
